body { 
  margin: 0px; 
  overflow: hidden; 
  font-family: calibri; 
  background: #E9F7FC; 
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9)
}

.header-left {
  float: left;
  height: 20px;
}

.header-left h1 {
  color: white;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

/*    ボタン    */
.btn-box {
  text-align: center;
  padding: 10px 250px;
}

.btn-square {
  display: flex;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin: 10px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
  margin: 10px;
}

.btn-back {
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin: 10px;
}

.btn-back:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
  margin: 10px;
}